{% extends 'ourusers/base.html' %}
{% block content %}
<div class="lesson-container">
  <h1 class="lesson-title">{{ lesson.title }}</h1>
  <p class="lesson-description">{{ lesson.description }}</p>

  <div class="video-container">
    {% if lesson.video_file %}
    <video controls>
      <source src="{{ lesson.video_file.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    {% elif lesson.video_url %}
    {% with video_id=lesson.video_url|slice:"-11:" %}
    <iframe
      src="https://www.youtube.com/embed/{{ video_id }}"
      frameborder="0"
      allowfullscreen
    ></iframe>
    {% endwith %}
    {% endif %}
  </div>

  <div class="lesson-content">{{ lesson.content|safe }}</div>

  <div class="navigation">
    {% if previous_lesson %}
        <a href="{% url 'courses:lesson_details' previous_lesson.pk %}" class="nav-button prev-button">Previous Lesson</a>
    {% endif %}
    {% if next_lesson %}
        <a href="{% url 'courses:lesson_details' next_lesson.pk %}" class="nav-button next-button">Next Lesson</a>
    {% endif %}
</div>
  
</div>


<nav class="nav">
  <button class="menu-toggle" aria-label="Toggle menu">
    <i class="fas fa-bars"></i>
  </button>
  <div class="nav-links">
    <a href="{% url 'assignments' course_id %}"><i class="fas fa-tasks"></i> Assignments</a>
    <a href="#"><i class="fas fa-question-circle"></i> Quizes</a>
    
  </div>
</nav>
{% endblock %}