{% extends 'courses/base.html' %} {% block content %}
<div class="lesson-container">
  <h1 class="lesson-title">{{ lesson.title }}</h1>
  <p class="lesson-description">{{ lesson.description }}</p>

  {% if lesson.video_file %}
  <div class="video-container">
    <video controls>
      <source src="{{ lesson.video_file.url }}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  {% elif lesson.video_url %} {% with video_id=lesson.video_url|slice:"-11:" %}
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/{{ video_id }}"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  {% endwith %} {% endif %}

  <div class="lesson-content">{{ lesson.content|safe }}</div>
</div>
{% endblock %}
