{% extends 'ourusers/base.html' %} {% block content %}
<div class="module-container">
  <h1>{{ module.title }}</h1>
  <p>{{ module.description }}</p>

  <h2>Lessons</h2>

  <div class="lessons-grid">
    {% for lesson in module.lessons.all %}
    <a href="{% url 'courses:lesson_details' lesson.pk %}" class="lessons-card">
      <div class="lessons-content">
        <p class="lessons-title">{{ lesson.title }}</p>
      </div>
    </a>
    {% empty %}
    <p>No lessons available</p>
    {% endfor %}  
  </div>
</div>

<nav class="nav">
  <button class="menu-toggle" aria-label="Toggle menu">
    <i class="fas fa-bars"></i>
  </button>
  <div class="nav-links">
    <a href="{% url 'assignments' course_id %}"><i class="fas fa-tasks"></i> Assignments</a>
    <a href="#"><i class="fas fa-question-circle"></i> Quizes</a>
    
  </div>
</nav>

{% endblock %}
{% block extra_js %}

{% endblock %}