{% extends 'instructors/base.html' %} {% block content %}
<div class="form-container">
  <h1>
    {% if form.instance.pk %} Edit Module {% else %} Add Module {% endif %}
  </h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Save</button>
    <a href="{% url 'courses:course_list' %}">Cancel</a>
  </form>
</div>

{% if form.instance.pk %}
<div class="lessons">
  <a href="{% url 'courses:lesson_create' module.pk %}" class="btn btn-add"
    >Add Lesson</a
  >
  <h3>Lessons for {{ form.instance.title }}</h3>

  <ul>
    {% for lesson in lessons %}
    <li>
      <a href="{% url 'courses:lesson_update' lesson.pk %}" class="lesson"
        >{{ lesson.title }}</a
      >
    </li>
    {% empty %}
    <li>No lessons available for this module.</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endblock %}
