{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarAcademy | Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      <a href="{% url 'register' %}">Don't have an account? Register</a>
    </div>
  </body>
</html>
