{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarAcademy | Register</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <h2>Register</h2>
      <form method="POST">
        {% csrf_token %} {{ form.username.label_tag }}
        <!-- Username Field -->
        {{ form.username }} {{ form.email.label_tag }}
        <!-- Email Address Field -->
        {{ form.email }} {{ form.password1.label_tag }}
        <!-- Password Field -->
        {{ form.password1 }} {{ form.password2.label_tag }}
        <!-- Password Confirmation Field -->
        {{ form.password2 }}

        <button type="submit">Register</button>
      </form>
      <a href="{% url 'login' %}">Already have an account? Login</a>
    </div>
  </body>
</html>
