{% extends 'ourusers/base.html' %} {% load static %} {% block extra_css %}

<link rel="stylesheet" href="{% static 'css/assignment.css' %}" /> 

{% endblock %} {% block content %}

<div class="assignment-container">

    <div class="assignment">

        <div class="assignment-title">
    
        <h2>{{assignment.title}}</h2>
    
        <div class="assignment-info">
    
            <p><span>Due Date: </span>{{assignment.due_date}}</p>
            <p><span>Points: </span>{{assignment.points}}</p>
            <p><span>Submission Format: </span>{{assignment.submission}}</p>
        </div>
    
        <div class="assignment-description">

            <h3>Description:</h3>
            <p>{{assignment.description}}<p>
        </div>
    
             <div class="assignment-requirements">  
                <h3>Requirements:</h3>
                <ol class="assignment-steps">
                    {% if requirements %}
                        {% for requirement in requirements %}

                        <li>{{requirement}}</li>

                        {% endfor %}

                    {% else %}

                    <p>No Requirements Provided</p>

                    {% endif %}


                </ol>
             </div>
             <div class="resourses">
    
                <h3>Resources:</h3>
                <ul>
                {% if recources %}
                    {% for resource in resources %}
                    <li><a href="{{resource.resource_url}}">{{resource.text}}</a></li>
                    {% endfor %}

                {% else %}

                    <p>No resource provided</p>

                {% endif %}

                </ul>
            </div>
             <div class="submission">
    
                <h3>Submission:</h3>
                <p>Submit a url link</p>
                <a href="">Submit Assignment</a>
             </div>
        </div>
    
    
    
    </div>
 
</div>



{% endblock %}